h1 {
  text-align: center;
  text-decoration: underline;
  padding: 25px;
  font-family: "Oswald", sans-serif;
  color: rgb(33, 37, 41);
}

p {
  text-align: center;
  margin: auto auto auto 20px;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}

.blocky {
  text-align: center;
  margin-right: 20px;
}

.container1 {
  font-family: "Oswald", sans-serif;
  display: block;
  margin: 20px auto;
  max-width: 780px;
  height: 620px;
  padding: 20px;
  border: 5px solid rgb(184, 184, 184);
  box-shadow: 4px 4px 10px rgb(184, 184, 184);
  border-radius: 15px;
  background-color: rgb(235, 235, 235);
  background-size: cover;
  opacity: 0.8;
}

.sizeimage {
  font-size: 160px;
  margin: 0;
  margin-bottom: 5px;
  top: 20px;
}
.space {
  margin: auto;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
}
.centry {
  text-align: center;
  font-size: 15px;
  margin: 0 20px;
  font-family: "Oswald", sans-serif;
}
.fonty {
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  height: 150px;
}
.border {
  border: 2px solid rgb(184, 184, 184);
  border-radius: 10px;
  background: rgb(184, 184, 184);
  color: rgb(33, 37, 41);
  text-align: center;
  margin: 0 20px;
}

.one {
  margin: auto;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  top: -200px;
  right: -450px;
}

#humid {
  text-align: center;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 15px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  width: 150px;
}
#wind {
  text-align: center;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 15px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  width: 150px;
}
#description {
  text-align: center;
  margin-right: 20px;
  margin-top: 5px;
  padding: 0;
  font-size: 15px;
  width: 150px;
}
#pressure {
  text-align: center;
  margin-right: 20px;
  margin-top: 5px;
  padding-right: 40px;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  padding: 0;
  width: 150px;
}
#temperature {
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  font-family: "Oswald", sans-serif;
  right: -20px;
  top: -20px;
}
#cities {
  width: 518px;
  height: 35px;
  border-radius: 10px;
  border-color: rgb(184, 184, 184);
  background-color: rgb(235, 235, 235);

  margin-left: 20px;
}
.containerhour {
  font-family: "Oswald", sans-serif;
  text-align: center;
  border: 2px solid rgb(184, 184, 184);
  border-radius: 10px;
  background-color: rgb(184, 184, 184);
  padding: 10px;
  margin: 0 20px;
  line-height: 1.3;
}
#buttonLocation {
  border-radius: 10px;
  border-color: rgb(184, 184, 184);
  height: 35px;
}
#submitbtn {
  border-radius: 10px;
  border-color: rgb(184, 184, 184);
  height: 35px;
}
#city2 {
  height: max-content;
  text-align: left;
  right: -45px;
}

.container {
  margin-top: 15px;
}

.date {
  background-color: rgb(184, 184, 184);
  width: 220px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid rgb(184, 184, 184);
}
.col-6 {
  left: -300px;
  top: -150;
  margin-bottom: 0;
}

.tempDigits {
  position: relative;
  font-size: 22px;
  padding: 10px;
  margin-left: 5px;
  top: -20px;
}
#icon {
  width: 130px;
  height: 130px;
  position: relative;
  left: -15px;
  top: -30px;
  margin-left: 0;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.forecast-date {
  font-size: 16px;
}

.forecast-temperatures {
  font-size: 13px;
}
.forecast-temperature-min {
  opacity: 0.6;
}
.finish {
  position: relative;
  padding: 40px;
}
